<h1>レビュー記入ページ</h1>

<!--選択した本タイトル、画像、著者名表示-->
<p><%= @book.title %></p>
<p><%= @book.author %></p>
<p><%= image_tag @book.image_url %></p>

<!--レビュー記入-->
<%= form_for @review,url: reviews_create_path(book_id: @book.id) do |form| %>
     <div class="form-group">
        <!--%= form.label :content %-->
        <%= form.text_area :content %>
        <%= form.hidden_field :book_id, :value => @book.id %>
     </div>
     <%= form.submit 'レビューを投稿' %>
     
     <%= flash[:notice] %>
     <%= flash[:success] %>
     <%= flash[:danger] %>
<% end %>

<%= link_to '戻る', books_search_path %>
<%= link_to 'レビュー一覧', reviews_path %>

